.inni_popup-sign_in_sign_up {
	.inni_popup-wrap {
		width: 990px;
		border-radius: 5px;
		border: 1px solid #B4B4B5;
	}

	.inni_popup-container {}

	.container-inner {
		display: flex;
	}

	.sign_in {
		flex: 1 1 50%;
		padding-right: 2rem;
		padding-left: 1rem;
	}
	.sign_up {
		flex: 1 1 50%;
		padding-right: 1rem;
		padding-left: 2rem;
	}


	.inni_popup-hd {
		border-bottom: none;
		.title {
			padding-left: 0;
			text-align: center;
		}
	}
}



.inni_popup-sign_in_sign_up {
	.sign_in {
		position: relative;
		&:after {
			@include psudoClass;
			@include absolute(0, 0);
			@include wh(1, 100%);
			background-color: #3E3A39;
		}
	}

	.sign_up {
		&-inner {
			position: relative;
			height: 280px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.inni_btn {
				// @include absolute($B:3.25rem);
				// width: 100%;
			}
		}
	}
}


