.inni_popup-forget_pw {
	.inni_popup-wrap {
		border-radius: 5px;
		border: 1px solid #B4B4B5;
	}

	.inni_popup-hd {
		border-bottom: none;
		.title {
			padding-left: 0;
			text-align: center;
		}
	}
}

