.inni_frm__search {
	width: 200px;

	&-input {
		border: none;
		border-radius: 0;
		height: 35px;
	}
	&-btn {
		background-color: transparent;
		border: none;
		padding: 0;

		@include wh(35);
		flex: 0 0 35px;
		display: flex;
		align-items: center;
		justify-content: center;

		background-color: rgba(lighten(#D5D5D5, 10), 0);
		border-radius: 5px;

		transition: $transition-base;

		color: #686969;

		&:hover, &:focus {
			background-color: rgba(lighten(#D5D5D5, 10), 1);
		}
	}

	.inni_frm-field {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #D5D5D5;
	}
}