$label_width: 60;
.signin_frm {
	> .inner {
		// padding: 1rem;
	}

	.inni_frm-label {
		flex: 0 0 #{$label_width}px;
	}

	.inni_frm-field {
		flex: 0 0 calc(100% - #{$label_width}px);
	}

	.inni_frm-error {
		// flex: 1 1 100%;
		left: $label_width + 20 * 1px;
	}

	.validation_code {

		&-field {
			display: flex;
			align-items: center;

			@include media-breakpoint-down(sm) {
				flex-wrap: wrap;
			}
		}

		// .signin_frm-input {
		// 	flex: 1 1 50%;
		// }

		&-input {
			flex: 1 1 auto;
			margin-right: 0.5rem;

			@include media-breakpoint-down(sm) {
				flex: 1 1 100%;
				margin-right: 0;
				margin-bottom: 1rem;
			}
		}

		&-pic {
			flex: 0 0 110px;
			margin-right: 0.5rem;
		}

		&-reset {
			flex: 0 0 30px;
		}
	}

}
.signin_frm {
	.inni_frm-label {

	}

	.inni_frm-field {

	}

	.inni_frm-error {

	}

	.validation_code {

		&-field {

		}

		// .signin_frm-input {
		// 	flex: 1 1 50%;
		// }

		&-input {

		}

		&-pic {

		}

		&-reset {
			@include wh(30);
			padding: 5px;

			background-color: rgba(#666, 0);
			border: none;
			border-radius: 3px;
			transition: background-color 0.3s ease-in-out;

			cursor: pointer;

			&:hover {
				background-color: rgba(#666, 0.1);
			}

			&:active {
				transform: translate(1px, 1px);
			}
		}
	}

	&-submit {
		width: 100%;
	}

	.inni_rcx-label {
		color: #3D3A39;
	}

	.forget_pw {
		padding: 0.25rem;
		.txt {
			color: #17489C;

			@include hover_line(2, #17489C);
		}
	}
}