$label_width: 80;
.forget_pw_frm {

	.inni_frm-label {
		flex: 0 0 #{$label_width}px;
	}

	.inni_frm-field {
		flex: 0 0 calc(100% - #{$label_width}px);
	}

	.inni_frm-error {
		// flex: 1 1 100%;
		left: $label_width + 20 * 1px;
	}


	.inni_frm-label {

	}


	&-submit {
		width: 100%;
	}
}