.pdt__row {
	// padding-top: 75px;
}


.pdt-swiper {
	position: relative;
	padding: 40px 0;
	.swiper-container {
		// height: 100px;
	}
	.swiper-wrapper {
		align-items: center;
	}
}


.pdt-item {
	> .inner {
		position: relative;
		display: block;
		// background-color: #fff;
		// border: 1px solid #fff;
		transition: $transition-base;

		&:hover {
			// border: 1px solid #e0e0e0;
			// padding: 5px;
			// background-color: #e0e0e0;
			.pdt-pic {

				.pic {
					transform: translate(-3px, -3px);
				}
				&:before {
					bottom: -3px;
					right: -3px;
				}
			}


			.pdt-pic img {
				transform: scale(1.05) translate(-50%, -50%);
			}

			// &:before {
			// 	left: 150%;
			// 	opacity: 0.5;
			// }
		}
	}


	.brand-pic {
		height: 35px;
		margin-bottom: 0.8rem;

		.pic {
			height: 100%;
		}

		img {
			height: 100%;
		}
	}

	.extra-txt {
		@include absolute(5px, 0);
		color: #686969;
		@include remCalc(font-size, 21);
		font-weight: bold;
	}


	.pdt-pic {
		position: relative;
		margin-bottom: 1rem;
		// transition: $transition-base;
		.pic {
			position: relative;
			z-index: 2;
			border-bottom-right-radius: 30px;
			transition: all 0.3s $easing3;

			position: relative;
			@include rwdBlock(320, 320);
		}

		img {
			@include absolute(50%, $L:50%);
			transform: translate(-50%, -50%);
			transition: $transition-base;
		}

		&:before {
			@include psudoClass;
			@include absolute($B:1px, $R:1px);
			z-index: 1;
			@include wh(99%);
			border-bottom-right-radius: 30px;
			@include linear-gradient(45deg, #bdc3c7 0%,#2c3e50 100%);
			transition: all 0.3s $easing3;
		}
	}


	&-title {
		.txt {
			@include remCalc(font-size, 18);
			text-align: center;
			// @include ellipsis;
			@include text_ellipsis(1, 1.6);
		}
	}
}

