.brand_page {
	.brand__row {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

.brand_banner-swiper {
	position: relative;


	.swiper-container {
		// @include rwdBlock(1731, 561);
	}

	.swiper-slide {

		> .inner {
			display: block;
		}

		.pic {
			@include rwdBlock(1731, 561);
		}

		img {
			width: 100%;
			max-width: none;
		}
	}
	.inni-swiper-pag {
		top: 50%;
		right: -16px;
		transform: translateY(-50%);
		width: 8px;
	}

	.swiper-pagination-bullet {
		display: block;

		background-color: #DFDFDF;
		margin: 0 4px;

		transition: all 0.3s $easeInOutCubic3;

		&:not(:first-of-type) {
			margin-top: 10px;
		}
	}

	.swiper-pagination-bullet-active {
		border-radius: 8px;
		height: 20px;
		background-color: #3E3A39;
	}
}


