.brand__main {
	// padding-top: 75px;
}


.brand__story {
	padding-top: 60px;

	&-content {
		&:not(:first-of-type) {
			margin-top: 35px;
		}

		.pic {

		}

		img {
			width: 100%;
			max-width: none;
		}

		.brand-pic {
			width: 100%;
			max-width: 410px;

			margin-bottom: 85px;

			.pic {
				@include rwdBlock(408, 91);
			}
		}


	}
}


.brand-intro {
	@include remCalc(font-size, 18);
	line-height: 1.6;
}



.brand__products {
	padding-top: 50px;

	&-hd {
		position: relative;

		border-bottom: 1px solid #686969;
	}

	&-search {
		@include absolute(50%, 0);
		transform: translateY(-50%);

		&.inni_frm__search {
			width: 260px;
		}
		.inni_frm-field {
			border: 1px solid #D5D5D5;
			border-radius: 40px;
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.inni_frm__search-input {
			height: 40px;
		}
	}


	&-bd {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}