.news_page {
	.news__row {
		// padding-top: 2rem;
	}
}

.news_page-container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.news_page-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-columns: 25%;
	grid-gap: 30px;
	// margin-right: -15px;
	// margin-left: -15px;

	.news-item {
		// padding-left: 15px;
		// padding-right: 15px;
		// margin-bottom: 1.5rem;
	}
}



