.product_page {

}

.product_page-container {
	// padding-top: 60px;
	// padding-bottom: 60px;
}



.product_page-wrap {
	&-hd {
		position: relative;

		.product_page-search {
			@include absolute(0.8rem, 0);

			&.inni_frm__search {
				width: 260px;
			}
			.inni_frm-field {
				border: 1px solid #D5D5D5;
				border-radius: 40px;
				padding-left: 1rem;
				padding-right: 1rem;
			}

			.inni_frm__search-input {
				height: 40px;
			}
		}
	}
	&-bd {
		display: grid;
		grid-template-columns: minmax(250px, percentage(350 / 1740)) 1fr;
		grid-template-areas: "aside container";

		padding-top: 50px;
	}
}

.product_page-aside {
	grid-area: aside;
}
.product_page-container {
	grid-area: container;
}