.product_page-list {
	display: grid;
	// grid-template-columns: repeat(5, 20%);
	// grid-gap: 30px;
	// margin-right: -15px;
	// margin-left: -15px;

	grid-template-columns: repeat(4, 1fr);
	grid-auto-columns: 25%;
	grid-gap: 30px;
}