.color_table {
	padding-top: 70px;

	&-wrap {
		position: relative;
	}
	&-content {
		.num-input {
			width: 70px;
			border: 1px solid #D5D5D5;
			text-align: center;
		}


		.data-col {
			line-height: 2;
			color: #414544;
			&.title {
				font-weight: bold;
				@include remCalc(font-size, 18);
			}

			&.num {
				font-weight: bold;
			}
		}
	}

	&-footer {
		padding: 80px 0;
		display: flex;
		justify-content: center;
		.add_cart-btn {
			width: 365px;
		}
	}
}