footer.page_footer
	.container-fluid.inner
		.page_footer-top
			.footer-logo
				.logo
					img(src="public/images/INNI-logo.svg", alt="INNI愛力國際")
				.social
					ul.cf.lis-n
						li.social-item
							a.inner(href="https://www.gildan.com.tw" target="_blank" title="另開視窗:GILDAN 官網")
								.icon_block.icon-web.svg-icon-web-dims
									svg.svg_icon
										use(xlink:href="#icon-web")
						li.social-item
							a.inner(href="https://www.facebook.com/innigildan/" target="_blank" title="另開視窗:愛力國際 Gildan台灣總代理 facebook 粉絲專頁")
								.icon_block.icon-facebook.svg-icon-facebook-dims
									svg.svg_icon
										use(xlink:href="#icon-facebook")
						li.social-item
							a.inner(href="https://line.me/R/ti/p/%40dmy4038n" target="_blank" title="另開視窗:加入LINE")
								.icon_block.icon-line.svg-icon-line-dims
									svg.svg_icon
										use(xlink:href="#icon-line")
			.contact
				h3.footer-title 聯絡資訊
				.contact-list
					ul.cf.lis-n
						li.contact-txt <span class="title">服務專線：</span><span class="txt">02-26089896</span>
						li.contact-txt <span class="title">傳真專線：</span><span class="txt">02-26002192</span>
						li.contact-txt <span class="title">電子信箱：</span><span class="txt">service@inni.com.tw</span>
					ul.cf.lis-n
						li.contact-txt <span class="title">服務地址：</span><span class="txt">244新北市林口區南勢二街68號</span>
						li.contact-txt <span class="title">服務時間：</span><span class="txt">周一至周五 早上 9:00 到 晚上 6:00</span>
						li.contact-txt E-mail 與 LINE 客服 訊息於工作日盡快回覆您
			.sitemap
				.sitemap-list
					h3.footer-title 商品資訊
					ul.cf.lis-n
						li.sitemap-item
							a.inner(href="product-list.html" title="熱銷現貨") 熱銷現貨
						li.sitemap-item
							a.inner(href="product-list2.html" title="精選商品") 精選商品
				.sitemap-list
					h3.footer-title 活動消息
					ul.cf.lis-n
						li.sitemap-item
							a.inner(href="event.html" title="促銷活動") 促銷活動
						li.sitemap-item
							a.inner(href="news-list.html" title="最新消息") 最新消息
				.sitemap-list
					h3.footer-title 個人中心
					ul.cf.lis-n
						li.sitemap-item
							a.inner(href="mbr-notice.html" title="貨到通知") 貨到通知
						li.sitemap-item
							a.inner(href="order-list.html" title="訂單資訊") 訂單資訊
						li.sitemap-item
							a.inner(href="mbr-info.html" title="帳號管理") 帳號管理
						li.sitemap-item
							a.inner(href="cart-list.html" title="購物車") 購物車
				.sitemap-list
					h3.footer-title 關於INNI
					ul.cf.lis-n
						li.sitemap-item
							a.inner(href="brand.html" title="品牌館") 品牌館
						li.sitemap-item
							a.inner(href="order-faq.html" title="購物須知") 購物須知
						li.sitemap-item
							a.inner(href="faq.html" title="常見問題") 常見問題
						li.sitemap-item
							a.inner(href="download.html" title="下載專區") 下載專區
		.page_footer-bottom
			.copyright
				.txt INNI All Rights Reserved © 2020
