header.page_header
	.container-fluid.inner
		.page_header-left
			.inni_frm__search
				form.inner
					.inni_frm-field
						input(type="search", placeholder="SEARCH").inni_frm-input.inni_frm__search-input
						button(type="button").inni_frm__search-btn
							.icon_block.icon-search.svg-icon-search-dims
								svg.svg_icon
									use(xlink:href="#icon-search")

		.page_header-center
			nav.page_nav.page_nav-left
				ul.cf.lis-n
					li.page_nav-item
						a(href="product-list.html").inner 熱銷商品
					li.page_nav-item
						a(href="product-list2.html").inner 精選商品
			a(href="./", title="INNI愛力國際 首頁", aria-label="INNI愛力國際 首頁").web_logo
				h1.inner.hide_txt INNI愛力國際【買衣服找愛力】GILDAN吉爾登台灣總代理
				img(src="public/images/INNI-logo.svg", alt="INNI愛力國際")
			nav.page_nav.page_nav-right
				ul.cf.lis-n
					li.page_nav-item
						a(href="").inner 促銷活動
					li.page_nav-item
						a(href="").inner 下載專區

		.page_header-right
			.mbr_info
				ul.cf.lis-n
					li.mbr_info-item
						//- ---------------------------------------------
						//- 登入狀態
						.inner.hello_member
							.icon_block.icon-user.svg-icon-user-dims
								svg.svg_icon
									use(xlink:href="#icon-user")
							span.txt 您好! 使用者
							.hello_member-dropdown
								ul.lis-n
									li.hello_member-dropdown-item
										a.inner(href="javascript:;")
											.icon_block
												| <i class="fas fa-bell"></i>
											.txt 貨到通知
										span.inni_badge 3
									li.hello_member-dropdown-item
										a.inner(href="javascript:;")
											.icon_block
												| <i class="fas fa-file-alt"></i>
											.txt 訂單資訊
									li.hello_member-dropdown-item
										a.inner(href="javascript:;")
											.icon_block
												| <i class="fas fa-users-cog"></i>
											| 帳號管理
									li.hello_member-dropdown-item
										a.inner(href="./")
											.icon_block
												| <i class="fas fa-sign-out-alt"></i>
											.txt 登出
					li.mbr_info-item
						button(type="button").inner.cart
							.icon_block.icon-cart.svg-icon-cart-dims
								svg.svg_icon
									use(xlink:href="#icon-cart")
								span.inni_badge 3
							| 購物車
	#m_menu.m_menu
		.group
			.line1
			.line2
			.line3
			.line4


// header.page_header  END  !! -------------------------------------------------------------------------
